/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
     --primary: rgb(239, 236, 234);
     --dark-brown: rgb(57, 22, 20);
     --light-brown: rgb(142, 129, 118);
     --rust: rgb(118, 60, 38);
     --gold: rgb(193, 162, 127);
     --black: rgb(54, 52, 52);
}

html{
     font-size: 62.5%;
}

 body {
     min-height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/

header, .picture, .content-hover, section.right-content {
     display: none;
}

html {
     background-color: var(--primary);
}

.nav-wrapper {
     display: flex;
     flex-flow: column nowrap;
     min-height: 100vh;
     justify-content: flex-end;
     z-index: 1;
     background-image: url('../images/mobile-home.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 700;
   
}

.menu-page .nav-wrapper, .about-page .nav-wrapper, .contact-page .nav-wrapper {
     display: none;
}

.nav-wrapper p {
     font-family: 'NTR', sans-serif;
     font-size: 1.5rem;
     top: 80%;

}

.hamburger {
	position: fixed;
	width: 3em;
	cursor: pointer;
	z-index: 999;
	appearance: none;
	background: none;
	outline: none;
	border: 1px solid var(--primary);
     top: 80%;
     left: 50%;
     margin-left: -1.5em;

}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: .25em;
	background-color: var(--primary);
	margin: .5em 0;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-4px, -6px);
}

.hamburger.is-active .bar {
	opacity: 0;
} 

.mobile-nav {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: rgba(254, 254, 254, 0.9);
	padding-top: 50px;
	transition: 0.4s
}

.mobile-nav ul {
     padding: 0;
}

.mobile-nav li{
     list-style: none;
     text-align: center;
     padding: 1em;
     font-size: 2.5rem;
}

.mobile-nav a{
     text-decoration: none;
     color: black;
}

.mobile-nav.is-active {
	top: 0;
}

#alt-hamburger .bar, #alt-hamburger::after, #alt-hamburger::before {
     background-color: black;
}

#alt-hamburger{
     left: 85%;
}

.alt-index {
     font-family: 'Ubuntu', sans-serif;
     color: white;
     padding-left: 2em;
}

.alt-index h1{
     font-size: 3rem;
}

.alt-index p {
     font-size: 1.5rem;
}

.logo {
     display: block;
     object-fit: contain;
     max-width: 60%;
     margin: 1em auto;
}

/* Menu Style */
.menu-page header {
     display: none;
}

.menu-page .left-content {
     background-image: url('../images/alt-img-1.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

#menu {
     overflow: scroll;
     /* background-image: none; */
     max-height: 100vh;
     max-width: 80vw;
     margin: auto;
     font-family: 'Ubuntu', sans-serif;
}

#menu li {
     display: grid;
     grid-template-columns: 60% 40%;
}

#menu ul, .about ul {
     list-style: none;
}

#menu h2, .about h1, .contact h1 {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     border-bottom: 3px solid var(--gold);
     padding-bottom: .25em;
     margin-inline: 3em;
     text-transform:uppercase;
}

#menu h4, #menu h5, .about h2 {
     font-weight: 700;
     font-size: 2rem;
     margin: 0;
   
}

#menu p {
     font-size: 1.5rem;
     font-style: italic;
     text-transform: lowercase;
     margin-top: 0.2rem;
     color: var(--gold);
}

#menu li h4{
     border-bottom: 2px dotted var(--light-brown);
     
}

#menu h5 {
     padding-left: 0.5em;
}

#menu h3 {
     font-size: 2rem;
     text-align: center;
     text-transform: uppercase;
}

/* About Style */
.about-page .left-content {
     background-image: url('../images/alt-img-2.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.about, .contact {
     max-height: 100vh;
     max-width: 80vw;
     margin: 0 auto;
     background-color: var(--primary);
     font-family: 'Ubuntu', sans-serif;
}

.about p {
     font-size: 1.5rem;
     font-style: italic;
}

.about h2 {
     border-left: 3px solid var(--gold);
     padding-left: 0.5em;
}

/* Contact Page Style */
.contact-page .left-content {
     background-image: url('../images/alt-img-3.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.contact form {
     width: 80%;
     margin: auto;
     display: grid;
     gap: 1rem;
     margin-top: 3em;
     grid-template-columns: 1fr 1fr;
     font: 1.5rem 'Ubuntu', sans-serif;
   }

.contact input, .contact textarea {
   width: 100%;
   padding: 1rem;
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 2px 2px 10px -10px black;
}

.contact textarea {
     grid-column: span 2;
     height: 200px;
}

.contact input:focus, .contact textarea:focus {
     outline: none;
     border: 2px solid black;
     box-shadow: 0px 0px 10px -5px var(--dark-brown);
}

.contact button {
     width: 100%;       
     display: block;
     border: 1px solid black;
     border-radius: 5px;
     background-color: var(--light-brown);
     letter-spacing: 0.1rem;
     box-shadow: 2px 2px 15px -10px black;
     grid-column: span 2;
     color: var(--primary);
     font-size: 3rem;
     padding: .5em;
}


/* Responsiveness */
@media screen and (min-width: 600px) {
     .page, .menu-page {
          display: flex;
          flex-flow: row nowrap;
     }
     
     .home {
          background: url('../images/home.jpg');
          background-size: cover;
     }

     .mobile-nav, .hamburger {
          display: none;
     }

     header {
          display: block;
          color: black;
          text-align: center;
     }

     #nav-wrapper {
          display: block;
          position: relative;
          order: 2;
          width: 20%;
          height: 100%;
          background: var(--primary);
          color: var(--light-brown);
          justify-content: flex-start;
          font-size: 2.5rem;
          margin: 0 auto;
          border-left: 3px solid black;
          border-right: 3px solid black;
     }

     #nav-wrapper ul {
          padding: 0;
     }

     #nav-wrapper ul li {
          list-style: none;
          padding: .5em 0;
     }

     #nav-wrapper ul li a {
          text-decoration: none;
          color: var(--brown);
     }

     #nav-wrapper ul li:hover {
          background-color: var(--light-brown);
     } 

     .content {
          display: block;
          width: 40%;
          background-image: none;
     }

     .left-content {
          position: relative;
          order: 1;
     }

     .right-content {
          position: relative;
          background-size: cover;
          order: 3;
     }

     .alt-image{
          background-size: cover;
     }

     .index-page .content-hover{
          background-color: rgb(112, 83, 63);
          background-image: none;
          z-index: 1;
     } 

     #right-text{
          display: block;
          background-image: none;
          z-index: 10;
     }

     .menu-page header {
          display: block;
     }
     
     .contact button:hover {
          background-color: var(--gold);
          box-shadow: 0px 0px 15px -5px black;
     }

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
